* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.woff2');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.woff2');
}

.home-menu-bar {
    width: 1170px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 51px auto;
}

.home-menu {
    color: #F25822;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu-text {
    color: #000;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-logo {
    display: flex;
    gap: 14px;
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.be {
    color: #F25822;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-container {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.title {
    width: 522px;
    height: 222px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-title {
    color: #888;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
    flex-shrink: 0;
    margin-top: 17px;
}

.home-button {
    display: flex;
    flex-direction: row;
    gap: 72px;
    width: 302px;
    height: 50px;
    flex-shrink: 0;
}

.button {
    border: none;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(231, 175, 154, 0.788);
    color: #FFF;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 37px;
}

.video {
    background-color: #FFF;
    width: 90px;
    height: 19px;
    color: #AAA;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    padding: 0;
    margin-top: 52px;
}

.brand {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    background: #FFF;
    margin: 97px auto 96px;
}

.features {
    width: 1170px;
    margin: 0 auto;
}

.features-field {
    /* display: flex;
    width: 1899px;
     border: 1px solid #F30606; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 364px; */
    display: grid;
    grid-template-columns: repeat(3, 381px);
    grid-template-rows: 291px;
    column-gap: 30px;
    margin-bottom: 100px;
}

.features-card {
    /* display: flex; */
    width: 381px;
    grid-row-start: 1;
}

.features-content {
    display: flex;
    width: 310px;
    height: 226px;
    margin: 40px auto auto 30px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card2 {
    width: 370px;
    height: 291px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features-logo {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.features-card-title {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features-card-text {
    width: 310px;
    height: 42px;
    flex-shrink: 0;
    color: #666;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.features-card-button {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 16.5px */
    width: 64px;
    height: 17px;
    flex-shrink: 0;
    border: none;
    background: #FFF;
}

.services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1915px;
    background: #FAFAFA;
    margin: 0 auto;
}

.services {
    width: 682px;
    height: 123px;
    flex-shrink: 0;
    margin-top: 92px;
}

.services-title {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 45px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 19px;
}

.services-text {
    color: #666;
    max-width: 682px;
    text-align: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    margin-bottom: 55px;
    /* 24px */
}

.services-cards {
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: repeat(3, 370px);
    column-gap: 30px;
    margin: 30px auto;
}

.services-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    width: 310px;
    padding: 40px 30px;
}

.c2 {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.service-img {
    width: 310px;
    height: 217px;
}

.services-card-title {
    color: #000;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    margin-bottom: 22px;
}

.services-card-text {
    color: #AAA;
    text-align: center;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    line-height: 150%;
    /* 22.5px */
    margin-bottom: 39px;
}

.services-card-button {
    color: #FFF;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 13px;
    line-height: 150%;
    /* 19.5px */
    background: #F25822;
    border-radius: 50px;
    padding: 15px 35px;
    border-width: 0;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.20);
    margin-bottom: 10px;
}