.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.sub_title {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    gap: 10px;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    /* Ограничение ширины */
    text-align: center;
    font-family: sans-serif;
    flex-direction: column;
    gap: 24px
}

.product-card__image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 4px;
}

.product-card__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-card__description {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.product-card__price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}