@media screen and (max-width: 1024px) {
    .center {
        max-width: none;
    }

    .header {
        padding-left: 32px;
        padding-right: 32px;
    }

    .more-width {
        max-width: 1024px;
        min-width: 768px;
    }

    .font-big-bold {
        font-size: 44px;
    }

    .font-big {
        font-size: 24px;
    }

    .our-brand-text {
        margin-left: 39px;
    }

    .categories {
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .featured-items {
        margin-top: 110px;
    }

    .cards-item {
        margin-top: 73px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 16px;
    }

    .card-item-desc {
        gap: 12px;
        padding-left: 17px;
        padding-right: 29px;
    }

    .card-item-desc__title {
        margin-top: 5px;
    }

    .card-item-desc__price {
        margin-top: 6px;
    }

    .feature {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 48px 204px;
    }

    .subscribe-info {
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
        
    }

    .subscribe-info__subscribe {
        margin-top: 0;
        padding: 0;
        .btn-layout {
            padding-bottom: 0;
        }
    }

    .brand-sign {
        padding-left: 32px;
        padding-right: 32px;
    }
    .bkg-image {
        max-width: 100%;
    }
}