@media screen and (max-width: 767px) {
    .center {
        max-width:none;
      
    }
    .more-width{
        min-width: 320px;
    }
    .subscribe-info__about-me {
        
    
        .about-me__desc {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
        }

    }
    .subscribe-info__subscribe{
        .desc{
            text-align: center;
            font-size: 14px;
            font-weight: 400;
        }

    }
    
    

    .header {
        padding: 0 16px;
    }

    #profile-icon, #cart-icon {
        display: none;
    }

    .font-big-bold {
        font-size: 38px;
    }

    .font-big {
        font-size: 20px;
    }

    .our-brand-demo {
        margin: 0;
        padding: 148px 0;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .our-brand-text {
        margin: 0;
        width: 260px;
    }

    .our-brand-demo__img {
        display: none;
    }

    .categories {
        grid-template-columns: 1fr;
        padding: 16px;
        gap: 32px
    }

    .full-width {
        grid-column: 1/2;
        height: 111px;
    }

    .featured-items {
        margin-top: 64px;
        gap: 3px;
        padding: 0 8px;
    }

    .cards-item {
        margin-top: 65px;
        grid-template-columns: 1fr;
        padding: 0;
    }

    .btn-all-product {
        margin-top: 41px;
    }

    .feature {
        margin-top: 96px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding: 48px 13px;
    }

    .bkg-image {
        max-width: 100%;
    }

    .subscribe-info__subscribe {
        margin-top: 0;
        .btn-layout {
            padding-bottom: 0;
        }
    }

    .brand-sign {
        padding-top: 43px;
        padding-bottom: 9px;
        flex-direction: column;
        gap: 40px;

        .brand-sign__copyright {
            order: 1;
        }
        .brand-sign__social-net {
            padding: 0;
        }
    }
}